<div class="footer__inner">
    <div class="container">
        <div class="footer__row">
            <!-- Footer columns 1 -->
            <div class="footer__columns">
                <a href="#header" class="logo">
                    <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
                    <h2 class="logo__title">cafegrocery</h2>
                </a>

                <p class="footer__desc">
                    Just coffee is Elementor template kit for Coffee website. Its very easy to use and powered by
                    Elementor page builder.
                </p>

                <div class="footer__socials">
                    <div class="footer__icon-wrap">
                        <a href="#!" class="footer__icon"><i class="bx bxl-facebook"></i></a>
                    </div>

                    <div class="footer__icon-wrap">
                        <a href="#!" class="footer__icon">
                            <i class="bx bxl-twitter"></i>
                        </a>
                    </div>
                    <div class="footer__icon-wrap">
                        <a href="#!" class="footer__icon">
                            <i class="bx bxl-instagram"></i>
                        </a>
                    </div>
                    <div class="footer__icon-wrap">
                        <a href="#!" class="footer__icon">
                            <i class="bx bx-envelope"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Footer columns 2 -->
            <section class="footer__columns">
                <h3 class="footer__title">Contact Info</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">
                            <span class="footer__link-icon"><i class="bx bx-coffee"></i></span>Coffee Grocery</a
                        >
                    </li>
                    <li>
                        <a href="tel:+0900000888" class="footer__link"
                            ><span class="footer__link-icon"><i class="bx bx-phone-call"></i></span> 0900000888</a
                        >
                    </li>
                    <li>
                        <a href="mailto:hootran84@gamil.com" class="footer__link"
                            ><span class="footer__link-icon"><i class="bx bx-envelope"></i></span>
                            hootran84@gamil.com</a
                        >
                    </li>
                    <li>
                        <p class="footer__link">
                            <span class="footer__link-icon"><i class="bx bx-location-plus"></i></span>168, Nguyen Van Cu
                            (extended), An Binh Ward, Ninh Kieu District, City. Can Tho
                        </p>
                    </li>
                </ul>
            </section>
            <!-- Footer columns 3 -->
            <section class="footer__columns">
                <h3 class="footer__title">Menu</h3>
                <ul class="footer__list">
                    <li>
                        <a href="/" class="footer__link">- Home</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">- About</a>
                    </li>

                    <li>
                        <a href="#!" class="footer__link">- Sign In</a>
                    </li>

                    <li>
                        <a href="#!" class="footer__link">- Sign Up</a>
                    </li>
                </ul>
            </section>
            <!-- Footer columns 4 -->

            <section class="footer__columns">
                <h3 class="footer__title">Opening Hourse</h3>
                <ul class="footer__list">
                    <li><p class="footer__link">Monday-Friday: 8am-8pm</p></li>
                    <li><p class="footer__link">Saturday: 9am-4pm</p></li>
                    <li><p class="footer__link">Sunday: Closed</p></li>
                </ul>
            </section>
        </div>

        <div class="footer__copywrite-wrap">
            <p class="footer__copywrite">© 2010 - 2025 Coffee Grocery. All rights reserved.</p>
            <p class="footer__copywrite">Developer by TFeww</p>
        </div>
    </div>
</div>
