@use "../abstracts";

.form {
    &:has(:invalid) &__submit-btn,
    &:has(.invalid) &__submit-btn {
        opacity: 0.4;
        pointer-events: none;
    }

    &__row {
        display: flex;
        align-items: center;
        gap: 30px;

        @include abstracts.screen(md) {
            gap: 20px;
        }

        @include abstracts.screen(sm) {
            align-items: flex-start;
            flex-direction: column;
            gap: 0;
        }

        & > * {
            width: 100%;
            flex: 1;
        }
    }
    &__group {
        margin-top: 30px;
        @include abstracts.screen(md) {
            margin-top: 20px;
        }

        &-inline {
            display: flex;
            align-items: center;
        }
    }

    &__text-area,
    &__text-input {
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #d2d1d6;
        padding: 0 12px;

        &:focus-within {
            border-color: #77dae6;
        }
    }

    &__text-area {
        height: 80px;
        padding: 12px;
    }

    &__text-input {
        height: 50px;

        &--small {
            height: 42px;   
        }
    }

    &__textarea,
    &__input {
        width: 100%;
        height: 100%;
        flex: 1;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(sm) {
            font-size: 1.6rem;
        }

        &::placeholder {
            color: var(--auth-placeholder-color);
        }
    }

    &__textarea {
        resize: none;
    }

    &__checkbox {
        position: relative;
        display: flex;
        align-items: center;
        user-select: none;

        &:has(:checked)::before {
            background-color: #ffb700;
            border-color: #ffb700;
        }

        &:has(:checked)::after {
            left: 3px;
            top: 7px;
            width: 15px;
            height: 5px;
            border: 2px solid;
            border-color: transparent transparent #fff #fff;
            rotate: -45deg;
        }

        &::after,
        &::before {
            content: "";
            position: absolute;
        }

        &::before {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid #9e9da8;
        }

        &-label {
            margin-left: 30px;
            color: #9e9da8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
            @include abstracts.screen(sm) {
                font-size: 1.4rem;
            }
        }
    }

    &__pull--right {
        margin-left: auto;
    }

    &__group.invalid &__text-input {
        border-color: #f33a58;
    }

    &__group.invalid &__message {
        color: #f33a58;
    }

    &__message {
        float: left;
        font-size: 1.4rem;
        padding: 4px 0 0;
    }

    &__icon {
        width: 16px;
        height: 16px;
    }

    // form label
    &__label {
        display: block;
        margin-bottom: 10px;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }

    &__label--small {
        margin-bottom: 10px;
        font-size: 1.4rem;
        line-height: 142.857%;
    }

    &__tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px 20px;
        @include abstracts.screen(sm) {
            gap: 16px 8px;
        }
    }

    &__tag {
        padding: 6px 12px;

        border-radius: 6px;
        background: var(--form-tag);

        color: #9e9da8;

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        transition: 0.2s;

        &:hover {
            color: var(--text-color);
        }
    }

    &__select-wrap {
        border-radius: 6px;
        border: 1px solid #d2d1d6;
    }

    &__select-wrap {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 45px;
        @include abstracts.screen(lg) {
            max-width: 300px;
        }
    }

    &__select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: var(--width, 108px);
        height: calc(100% - 10px);
        padding: 0 14px;
        cursor: pointer;

        @include abstracts.screen(xl) {
            flex-grow: 1;
            --width: 86px;
        }
    }

    &__select + &__select {
        border-left: 1px solid#D2D1D6;
    }
}
