@use "../abstracts";

html.dark {
    --text-color: #fff;
    --color-icon: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7427%) hue-rotate(23deg) brightness(118%)
        contrast(118%);
    --body-bg: #292e39;
    --header-bg: #171c28;
    --header-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-bg: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-separate: #ededf6;

    // drop down
    --dropdown-bg: #242f3c;
    --dropdown-shadow-bg: rgba(23, 28, 40, 0.4);
    --dropdown-arrow: brightness(0) saturate(100%) invert(17%) sepia(12%) saturate(1228%) hue-rotate(172deg)
        brightness(94%) contrast(96%);

    // top menu
    --top-menu-border-color: #171c28;

    --menu-icon-color: brightness(0) saturate(100%) invert(95%) sepia(1%) saturate(349%) hue-rotate(201deg)
        brightness(103%) contrast(98%);

    // SideBar
    --sidebar-shadow: rgba(23, 28, 40, 0.4);
    --sidebar-bg: #292e39;

    // Cate item
    --cate-item-bg: #171c28;
    --cate-item-thumb-bg: #292e39;
    --cate-item-title: #fff;

    // fillter btn
    --fillter-btn-color: #fff;
    --fillter-btn-bg: #171c28;

    // product card
    --product-card-bg: #171c28;
    --product-card-shadow: rgba(0, 0, 0, 0.2);

    // like btn
    --like-btn-bg: #292e39;

    // filter
    --filter-bg: var(--dropdown-bg);
    --filter-shadow: var(--dropdown-shadow-bg);
    --filter-form-tag: #171c28;
    --filter-form-icon: var(--dropdown-arrow);
}
